/* CSS files add styling rules to your content */

body {
  font-family: helvetica, arial, sans-serif;
  margin: 2em;
  text-align: center;
  font-family: 'Shrikhand', cursive;
  
}

h1 {
  font-style: italic;
  color: red;
  
}

button{
  width: 150px;
  background-color: purple;
  color: white;
 
}

p{
  font-family: 'Shrikhand', cursive;
  font-size: 50px;
  color: pink;
  
}

h4{
  font-family: 'Lily Script One', cursive;
}

.container_row{
  display: grid;
}

.layer1, .layer2{
  grid-column: 1;
  grid-row: 1;
}
.layer1{
  z-index: 1;
}

#lovebox{
  width: 30px;
  height: 30px;
}