/* CSS files add styling rules to your content */

body {

  margin: auto;
  text-align: center;
  font-family: 'Shrikhand', cursive;
  cursor:url("http://www.rw-designer.com/cursor-extern.php?id=113686");
  background-image: url("https://cdn.glitch.com/1f3070a7-854a-4a63-ae46-bcf54d880bb9%2Fsagdig_opo0431b_web.jpg?v=1612945420919");
  background-color: black;
  padding: 10px;
}

h1 {
  font-style: italic;
  color: pink;
  text-shadow: 2px 2px 4px #000000;
  
  
}

button{
  width: 150px;
  background-color: purple;
  color: white;
 
}

p{
  font-family: 'Shrikhand', cursive;
  font-size: 50px;
  color: pink;
  text-shadow: 2px 2px 4px #000000;
  margin: 40px;
  padding: 50px;
  
}

h4{
  font-family: 'Lily Script One', cursive;
}
h5{
  color: white;
}

.container_row{
  display: grid;
  width: auto;
  align-content: center;
  margin: 40px;
}

.layer1, .layer2{
  grid-column: 1;
  grid-row: 1;
  margin-top: 30px;
}
.layer1{
  
  z-index: 1;
}

#lovebox{
  width: 30px;
  height: 30px;
}
img{
  width: 700px;
  height: auto;
  
}
#music{
  display: block;
  align-content: center;
  margin: 0px 40px 0px 40px;
  padding: 0px 50px 0px 50px;
}
audio{
  display:;
}
