/* CSS files add styling rules to your content */

body {
  font-family: helvetica, arial, sans-serif;
  margin: 2em;
  text-align: center;
  font-family: 'Shrikhand', cursive;
  background-color: black;

  
}

h1 {
  font-style: italic;
  color: red;
  z-index: 2;
}

/* div{
  display: inline-block;
} */

button{
/*   display: inline-block; */
/*   padding: 10px, 20px; */
  width: 150px;
  background-color: purple;
  color: white;
  z-index: 2;
  
  
}

p{
  font-family: 'Shrikhand', cursive;
  font-size: 50px;
  color: pink;
  z-index: 2;
}

h4{
  font-family: 'Lily Script One', cursive;
}

#lovebox{
  z-index: 3;
}